.center-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 35rem;
  height: 100vh;

  background: black;

  z-index: 0;

  .center-area__top-panel {
    @extend %panel;
    display: flex;
    flex-direction: column;

    box-shadow: 0 2px 2px #CCAAAA;

    .center-area__top-panel__display-area{
      width: 100%;

      display: flex;
      flex-direction: row;
    
      .center-area__top-panel__level-display{
        padding: .3rem 2rem .3rem .3rem;
        z-index: 3;

        background: #3f51b5;

        border-radius: 0 0 4rem 0;
        border-bottom: 1px white solid;
        border-right: 1px white solid;
      };

      .center-area__top-panel__title{
        color: white;
        font-size: 1.6rem;

       text-shadow: -2px -2px 6px #bb00aa, -2px 2px 4px #bb00aa, 2px -2px 7px #bb00aa, -2px -2px 5px #bb00aa, -4px 0 6px #dd88cc, 0 -4px 4px #dd88cc, 4px 0 7px #dd88cc, 0 4px 5px #dd88cc
      };
  
      .center-area__top-panel__moves-display{
        padding: .3rem .3rem .3rem 2rem;
        z-index: 3;
        
        background: #f50057;

        border-radius: 0 0 0 4rem;
        border-bottom: 1px white solid;
        border-left: 1px white solid;
      };
    };
  };

  .center-area__bottom-panel {
    @extend %panel; 

    box-shadow: 0 -2px 2px #CCAAAA;
  };
};

%panel {
  background: $background2;
  width: 100%;
  flex: 1 1 2rem; 
  z-index: 2;
}