.Dude {
  position: absolute;
  top: 50%;
  left: 50%;


  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: relative;
    top: -0.25rem;
    left: -0.25rem;

    height: 1.5rem;
    width: 1.5rem;
  };
}