.WinModal{
  display: flex;
}

.Win{
  margin: auto;

  padding: 5rem;

  min-width: 25%;
  max-width: 75%;

  min-height: 25%;
  max-height: 75%;

  background: black;

  border: 1rem solid $background1;

  @extend %flex-standard;

  * {
    margin: .3rem;
  }
};

.Win__praise {
  font-size: 1.8rem;
  margin: 1rem;
};

.WinModal__buton--close {
  text-transform: none !important; //This is bad practice - how do I do it properly?
  font-size: 1rem !important;
};